<!DOCTYPE html>
<html>
  <head>
    <title>Catarsinho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
          <%= image_tag ("/assets/logo-white.png"), class: "w-100"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <%= form_tag(find_projects_path, method: :get) do %>
            <div class="input-group mb-3">
              <%= text_field_tag 'search', '', placeholder: "Encontre projetos...", class: "form-control"  %>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><%= fa_icon "search" %></button>
              </div>
            </div>
          <% end %>
          <%= link_to find_projects_path do%>
            <button class="btn btn-outline-secondary">Veja os projetos da nossa plataforma</button>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
